<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>JavaApplicationStub</string>
<key>CFBundleIconFile</key>
<string>pentaho_reporting.icns</string>
<key>CFBundleIdentifier</key>
<string>org.pentaho.reporting.designer.ReportDesigner</string>
<key>CFBundleDisplayName</key>
<string>Pentaho Report Designer</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>Pentaho Report Designer</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>TRUNK-SNAPSHOT</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHumanReadableCopyright</key>
<string>Copyright (c) 2008 - 2020 Hitachi Vantara.  All rights reserved. This program is free software; you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License, version 2.1 as published by the Free Software Foundation.</string>
<key>JVMRuntime</key>
<string>jre-8u111</string>
<key>JVMMainClassName</key>
<string>org.pentaho.commons.launcher.Launcher</string>
<key>JVMOptions</key>
<array>
<string>-Dapple.laf.useScreenMenuBar=true</string>
<string>-Xms1024m</string>
<string>-Xmx2048m</string>
</array>
<key>JVMArguments</key>
<array>
</array>
<key>CFBundleDocumentTypes</key>
<array>
<dict>
<key>CFBundleTypeIconFile</key>
<string>pentaho_reporting.icns</string>
<key>CFBundleTypeRole</key>
<string>Editor</string>
<key>CFBundleTypeName</key>
<string>Pentaho Reporting Bundle Definition</string>
<key>LSHandlerRank</key>
<string>Default</string>
<key>CFBundleTypeExtensions</key>
<array>
<string>prpt</string>
</array>
</dict>
<dict>
<key>CFBundleTypeIconFile</key>
<string>pentaho_reporting.icns</string>
<key>CFBundleTypeRole</key>
<string>Editor</string>
<key>CFBundleTypeName</key>
<string>Pentaho Reporting Legacy Definition</string>
<key>LSHandlerRank</key>
<string>Default</string>
<key>CFBundleTypeExtensions</key>
<array>
<string>report</string>
</array>
</dict>
</array>
<key>CFBundleAllowMixedLocalizations</key>
<string>true</string>
</dict>
</plist>

