.DS_Store
bin/
dist/
js-lib/
lib/
out/
test-lib/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.classpath
.project
projects/
plugins/
build-res/dojo-*
build-res/module-scripts/
*.class
*.jar
*.war
*.ear
*.lck
target
checkstyle/
.project
.classpath
.settings
target
release.properties
pom.xml.releaseBackup
*.iml
.idea

designer/report-designer-assembly/stage-winlinux/
