# Auto detect text files and perform LF normalization
#* 		text=auto
.classpath 	text
.project   	text
*.java     	text
*.iml	   	text
*.xml	   	text

*.png		binary
*.jpg		binary
*.prpt		binary
*.prpti		binary


