<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <RollingFile name="FILE" fileName="${sys:user.home}/.pentaho/logs/prd.log" filePattern="${sys:user.home}/.pentaho/logs/prd.log.%i">
      <PatternLayout pattern="%d [%7r] %6p - %-50c - %m%n"/>
      <SizeBasedTriggeringPolicy size="10MB" />
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
    <RollingFile name="PerformanceFileAppender" fileName="${sys:user.home}/.pentaho/logs/prd-perfStats.log" filePattern="${sys:user.home}/.pentaho/logs/prd-perfStats.log.%i">
      <PatternLayout pattern="%m%n"/>
      <SizeBasedTriggeringPolicy size="10MB" />
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
    <Console name="CONSOLE">
      <PatternLayout>
        <Pattern>%d [%7r] %6p - %-50c - %m%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>

  <Loggers>

    <Logger name="org.pentaho.reporting.libraries.base.util.LoggingStopWatch" level="DEBUG" additivity="false">
      <appender-ref ref="PerformanceFileAppender"/>
    </Logger>

    <Logger name="org.pentaho" level="WARN"/>
    <Logger name="org.pentaho.ui.xul" level="ERROR"/>
    <Logger name="org.pentaho.reporting.libraries.base.util.LoggingStopWatch.Detail" level="ERROR"/>
    <Logger name="com.healthmarketscience.jackcess" level="WARN"/>
    <Logger name="org.apache.commons.httpclient" level="WARN"/>
    <Logger name="org.mortbay" level="ERROR"/>
    <Logger name="java.net" level="OFF"/>
    <Logger name="org.pentaho.reporting.libraries.resourceloader.modules.cache.ehcache.EHCacheModule#CacheLog" level="WARN"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.layout.process.ValidateModelStep" level="WARN"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.layout.AbstractRenderer" level="WARN"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.layout.SlottedLayoutBuilder" level="WARN"/>
    <Logger name="org.apache.commons.logging.simplelog.log.org.apache.http" level="WARN"/>
    <Logger name="org.apache.commons.logging.simplelog.log.org.apache.http.auth" level="WARN"/>
    <Logger name="org.pentaho.reporting.libraries.base.util.ResourceBundleSupport" level="WARN"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.layout" level="INFO"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.modules.output.pageable.base.PageableRenderer" level="INFO"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.layout.ModelPrinter" level="DEBUG"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.layout.output.AbstractReportProcessor" level="INFO"/>
    <Logger name="org.pentaho.reporting.engine.classic.core.states.datarow" level="INFO"/>
    <Logger name="org.pentaho.hadoop.shim.DriverManager" level="INFO"/>
    <Root level="INFO">
      <AppenderRef ref="FILE"/>
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>