<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd"
           version="2.4">

  <servlet>
    <display-name>JndiTest</display-name>
    <servlet-name>JndiTest</servlet-name>
    <servlet-class>org.pentaho.reporting.engine.classic.webapp.servlet.JndiTestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <display-name>PdfReport</display-name>
    <servlet-name>PdfReport</servlet-name>
    <servlet-class>org.pentaho.reporting.engine.classic.webapp.servlet.PdfReportServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <display-name>StreamHtml</display-name>
    <servlet-name>StreamHtml</servlet-name>
    <servlet-class>org.pentaho.reporting.engine.classic.webapp.servlet.StreamHtmlServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <display-name>ExcelReport</display-name>
    <servlet-name>ExcelReport</servlet-name>
    <servlet-class>org.pentaho.reporting.engine.classic.webapp.servlet.ExcelReportServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <display-name>PlainTextReport</display-name>
    <servlet-name>PlainTextReport</servlet-name>
    <servlet-class>org.pentaho.reporting.engine.classic.webapp.servlet.PlainTextReportServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <display-name>ZipHtmlReport</display-name>
    <servlet-name>ZipHtmlReport</servlet-name>
    <servlet-class>org.pentaho.reporting.engine.classic.webapp.servlet.ZipHtmlServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>JndiTest</servlet-name>
    <url-pattern>/servlets/jndi-test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StreamHtml</servlet-name>
    <url-pattern>/servlets/stream-html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PdfReport</servlet-name>
    <url-pattern>/servlets/pdf</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ExcelReport</servlet-name>
    <url-pattern>/servlets/excel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PlainTextReport</servlet-name>
    <url-pattern>/servlets/text</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ZipHtmlReport</servlet-name>
    <url-pattern>/servlets/zip-html</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <description>Datasource Example</description>
    <res-ref-name>jdbc/SampleData</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <listener>
    <listener-class>org.pentaho.reporting.engine.classic.webapp.servlet.WebAppStartupListener</listener-class>
  </listener>

</web-app>
